log4perl.logger.Gobi=INFO, Screen, GobiEmail, GobiLogFile, GobiErrFile
log4perl.logger.Gobi.MailNotify=DEBUG, GobiEmailReport
log4perl.additivity.Gobi.MailNotify.Subcat=0

log4perl.appender.GobiEmailReport=GUB::MIMEMailSender
log4perl.appender.GobiEmailReport.from=noreply@example.com
log4perl.appender.GobiEmailReport.to=example@example.com
log4perl.appender.GobiEmailReport.subject=GOBI REPORT
log4perl.appender.GobiEmailReport.smtp_host=smtp.example.com
log4perl.appender.GobiEmailReport.smtp_port=25
log4perl.appender.GobiEmailReport.layout=Log::Log4perl::Layout::PatternLayout
log4perl.appender.GobiEmailReport.layout.ConversionPattern=%m

log4perl.appender.GobiEmail=GUB::MIMEMailSender
log4perl.appender.GobiEmail.from=noreply@example.com
log4perl.appender.GobiEmail.to=example@example.com
log4perl.appender.GobiEmail.subject=GOBI ERROR
log4perl.appender.GobiEmail.smtp_host=smtp.example.com
log4perl.appender.GobiEmail.smtp_port=25
log4perl.appender.GobiEmail.Threshold=ERROR
log4perl.appender.GobiEmail.layout=Log::Log4perl::Layout::SimpleLayout

log4perl.appender.Screen=Log::Log4perl::Appender::Screen
log4perl.appender.Screen.stderr=1
log4perl.appender.Screen.Threshold=FATAL
log4perl.appender.Screen.layout=Log::Log4perl::Layout::SimpleLayout

file_layout_pattern = %d %p %c %m%n

log4perl.appender.GobiLogFile=Log::Log4perl::Appender::File
log4perl.appender.GobiLogFile.filename=log/gobi.log
log4perl.appender.GobiLogFile.mode=append
log4perl.appender.GobiLogFile.layout=Log::Log4perl::Layout::PatternLayout
log4perl.appender.GobiLogFile.layout.ConversionPattern=${file_layout_pattern}

log4perl.appender.GobiErrFile=Log::Log4perl::Appender::File
log4perl.appender.GobiErrFile.filename=log/gobi-errors.log
log4perl.appender.GobiErrFile.mode=append
log4perl.appender.GobiErrFile.Threshold=ERROR
log4perl.appender.GobiErrFile.layout=Log::Log4perl::Layout::PatternLayout
log4perl.appender.GobiErrFile.layout.ConversionPattern=${file_layout_pattern}
